.extended__forecast {
  position: relative;
  margin-top: 20px;
  padding: 60px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  h2 {
    font-weight: 500px;
    font-size: 25px;
    color: rgb(114, 126, 142);
    position: absolute;
    left: 25px;
    top: 5px;
  }
  &-day {
    color: rgb(57, 107, 174);
    img {
      width: 80%;
      height: auto;
    }
    h4 {
      line-height: 0;
    }
    h6 {
      font-size: 15px;
      line-height: 0;
    }
  }
}

@media (max-width: 455px) {
  .App {
    height: 960px;
  }
  .extended__forecast {
    width: 397px;
    overflow-y: scroll;
    display: flex;
    height: 200px;
    margin-left: 10px;
    &-day {
      margin-right: 50px;
      img {
        width: 50px;
        height: auto;
      }
    }
  }
}
