.current__weather {
  display: flex;
  margin-top: 20px;
  padding: 10px;
  justify-content: space-between;
  min-height: 400px;
  background-color: #fff;
  // opacity: 0.8;
  // backdrop-filter: blur(300px);
  border-radius: 15px;

  h2 {
    display: flex;
    align-items: start;
    margin-left: 15px;
  }
  &-main_info {
    width: 450px;
    font-weight: 500px;
    font-size: 1.125rem;
    color: rgb(114, 126, 142);
    &-name_city {
      display: flex;
      align-items: start;
      margin-left: 20px;
      font-weight: 600;
      font-size: 1.25rem;
      color: rgb(57, 107, 174);
    }
    &-temperature {
      font-size: 100px;
      img {
        width: 90px;
        height: auto;
        margin-right: 30px;
      }
    }
    h6 {
      font-size: 50px;
      margin: 0 auto;
    }
  }

  &-other_info {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 25px;
    width: 300px;
    color: rgb(123, 152, 178);
    font-size: 20px;
    .arrows {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 50px;
      width: auto;
      .up {
        img {
          margin-right: 5px;
        }
        margin: 0 auto;
        color: rgb(48, 128, 200);
      }
      .low {
        img {
          margin-right: 5px;
        }
        margin: 0 auto;
        color: rgb(48, 128, 200);
        margin-left: 20px;
      }
    }
    .humidity {
      width: 250px;
      margin-top: 15px;
      display: flex;
      align-items: center;
      color: rgb(123, 152, 178);
      span {
        margin-left: 20px;
        color: rgb(48, 128, 200);
      }
      img {
        margin-right: 20px;
        width: 30px;
        height: 30px;
      }
    }
    .wind {
      width: 250px;
      margin-top: 15px;
      display: flex;
      align-items: center;
      color: rgb(123, 152, 178);
      span {
        margin-left: 50px;
        color: rgb(48, 128, 200);
      }
      img {
        margin-right: 20px;
        width: 30px;
        height: 30px;
      }
    }
    .pressure {
      width: 250px;
      margin-top: 15px;
      display: flex;
      align-items: center;
      color: rgb(123, 152, 178);
      span {
        margin-left: 20px;
        color: rgb(48, 128, 200);
      }
      img {
        margin-right: 20px;
        width: 30px;
        height: 30px;
      }
    }
  }
}
