.SearchPanel {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 950px;
    height: 40px;
    border-radius: 20px;
    // background-color: #fff;
    input {
      background-color: #fff;
      border: none;
      width: 850px;
      height: 40px;
      border-radius: 20px;
      font-size: 20px;
      padding-left: 20px;
      outline: none;
    }
  }
  button {
    margin-left: 3px;
    background: url("../../resources/icons8-my-location-32.png") center
      no-repeat;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 455px) {
  .SearchPanel {
    margin-left: 10px;
    width: 445px;
    form {
      width: 415px;
    }
  }
}
